<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
    <h3>Reset Password</h3>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="mb-3">
        <label for="resetPasswordEmail" class="form-label">Account Email</label>
        <input type="email" name="email" ngModel required #email="ngModel"
        class="form-control" id="resetPasswordEmail" placeholder="Enter email">
      </div>
      <div class="mb-3">
        <label for="resetPasswordPassword" class="form-label">New Password</label>
        <input type="password" name="password" ngModel required #password="ngModel"
        class="form-control" id="resetPasswordPassword" placeholder="Enter password">
      </div>
      <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>
