nav {
  background-image: url(../images/minecraft-bg.png);
  padding: 20px;
}

h1{
  margin: 0px;
  padding: 0px;
  color: white;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 20px 0px;
  justify-content: center;
}

li{
  margin: 5px;
  width: 200px;
}

a{
  color:white;
  text-decoration:none;
}
