nav {
  background-color:Forestgreen;
  opacity: 0.7;
  padding: 20px;
  margin-bottom: 1%;
  display: flex;
  justify-content: space-between;
}

h1{
  margin: 0px;
  padding: 0px;
  color: white;
}

button{
  border: 0px;
  margin: 15px 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  background-color: darkgrey;
  border-radius: 5px;
  border: 2px solid white;
  transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    background-color: green;
    color:white;
    transform: translateY(-2px) scale(1.1);
  }
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 20px 0px;
  justify-content: center;
}

li{
  margin: 5px;
  width: 200px;
}

a{
  color:white;
  text-decoration:none;
}
