<nav>
  <h1 routerLink="/">{{ title$ | async }}</h1>

  <ul *ngIf="!readLocalStorageValue()">
    <li>
      <a [routerLink]="['register']" routerLinkActive="active">Register</a>
    </li>

    <li>
      <a [routerLink]="['login']" routerLinkActive="active">Login</a>
    </li>

    <li>
      <a [routerLink]="['reset-password']" routerLinkActive="active">Reset Password</a>
    </li>

  </ul>

  <ul *ngIf="readLocalStorageValue()">
    <li>
      <h3>user email</h3>
    </li>
    <li>
      <a routerLink="/crafts" (click)="logout()">Log out</a>
    </li>
    <li>
      <button routerLink="crafts/add" *ngIf="!router.url.includes('crafts/add')">Add</button>
    </li>
  </ul>

  <li>
    <button routerLink="crafts/add" *ngIf="!router.url.includes('crafts/add')">Add</button>
  </li>
</nav>
