<form [formGroup]="craftForm" (ngSubmit)="addCraft()">

  <input type="text" placeholder="Name" formControlName="name" />
  <select placeholder="Image URL" formControlName="image" id="image">
    <option value="assets/images/Fence.png">Fence</option>
    <option value="assets/images/Boat.png">Boat</option>
    <option value="assets/images/Wooden_Slabs.png">Wooden Slabs</option>
    <option value="assets/images/Sign.png">Sign</option>
    <option value="assets/images/Glowstone.png">Glowstone</option>
    <option value="assets/images/Bookshelf.png">Bookshelf</option>
  </select>
  <input type="text" placeholder="Description" formControlName="description" />
  <input type="text" placeholder="Ingredients" formControlName="ingredients" />

  <button [disabled]="!craftForm.valid" type="submit">Add</button>

</form>
